/* CSS */

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

section {
  border: 2px solid #333;
  border-radius: 8px;
  margin: 1rem;
  padding: 0.5rem;

}

section img {
  max-width: 100%;
  display: block;
  margin: 10px 0 20px 0;
  border: 2px solid #333;
  border-radius: 8px;
  width: 15rem;
  height: auto;
}

nav {
  margin-bottom: 3rem;
}

video {
  width: 300px;
}

