
/* CSS */

button {
    width: 400px;
    font-size: 5rem;
    color: white;
    background-color: green;
}

@media (min-width: 768px) {
  button {
    color: black;
    background-color: yellow;
  }
}

@media (min-width: 1024px) {
  button {
    color: white;
    background-color: red;
  }
}