/* CSS */

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

section {
  border: 2px solid #333;
  border-radius: 8px;
  margin: 1rem;
  padding: 0.5rem;
}

section img {
  max-width: 100%;
  display: block;
  margin: 10px 0 20px 0;
  border: 2px solid #333;
  border-radius: 8px;
  width: 15rem;
  height: auto;
}

nav {
  margin-bottom: 3rem;
}

/* CSS */

.container {
  border: 1px solid black;
  width: 150px;
  padding: 10px   20px     30px    40px;    /*Atalho ordem do Relógio*/
      /*   Cima   Direita  Baixo  Esquerda  /*

  /*
    Outras maneiras de usar padding:

    padding: 20px;  Essa forma aplica para todos os lados

    padding-top: 10px;      Aplica só em cima
    padding-right: 20px;    Aplica só na diteita
    padding-bottom: 30px;   Aplica só em baixo
    padding-left: 40px;     Aplica só na esqueda
  */
}

.box {
  background-color: aqua;
  width: 100px;
  height: 100px;
}




