/* CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #f2f2f2;
  font-weight: 500;
}

.papelDeParede {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  
  height: 100vh;  
  z-index: -1;    
  overflow: hidden;
}

.papelDeParede img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;  
  filter: brightness(0.8);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  background: linear-gradient(to bottom,
  rgba(0,0,0,0.9) 0%,
  rgba(0,0,0,0.6) 50%,
  rgba(0,0,0,0.0) 100%
  );
}

nav a {
  display: inline-block;
  text-decoration: none; 
  background-color: #350562;
  border-radius: 1rem;
  padding: 10px 15px;
  margin: 1rem;
  font-weight: 700;
}

h1, .frase {
  display: flex;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  font-weight: 700;
}

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  width: 315px;
  margin: 0 auto;
}

summary {
  margin-bottom: 1.2rem;
}

legend {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.55rem;
  margin: 4rem 1rem 2rem 1rem;
}

li {
  color: #dce0e3;
}

section {
  border: 2px solid #333;
  border-radius: 8px;
  margin: 1rem;
  padding: 0.8rem;
  background-color:  #141313;
}

section img {
  max-width: 100%;
  display: block;
  margin: 10px 0 20px 0;
  border: 2px solid #333;
  border-radius: 8px;
  width: 15rem;
  height: auto;
}

video {
  width: 300px;
}

